body {
    font-family: Arial, sans-serif;
    background-color: #ffff00; /* Yellow */
  }
  
  header {
    background-color: #000000; /* Black */
    color: #ffffff; /* White */
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav   
   li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;   
   /* White */
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  section {
    background-color: #000000; /* Black */
    color: #ffffff; /* White */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #ffff00; /* Yellow */
    color: #000000; /* Black */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e5e5e5; /* Light Gray */
  }